html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('space_bg.jpg');
    overflow-x: hidden;
    background-size: cover;
    color: white;
    font-family: 'Mina', sans-serif;
    position: relative;
}


#root {
    height: 100%;
}

#root * {
    box-sizing: border-box;
}

.game-container {
    text-align: center;
    height: 100%;
    display: flex;
    padding: 45px 5px 0 5px;
    z-index: 110;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

.game-container > * {
    align-self: center;
}

.counter {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 110;
}

.message {
    margin: auto 0 0 0;
    align-self: center;
    vertical-align: text-bottom;
}