html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('space_bg.jpg');
    background-size: cover;
    color: white;
    font-family: 'Mina', sans-serif;
    position: relative;
}

#root {
    height: 100%;
}

.thimble-container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
}

.textspan {
    text-align: center;
    width: 280px;
    height: 220px;
    display: inline-block;
    margin: 0 auto;
    transition: all 0.5s ease-in;
    justify-content: center;
}

.textarea.hidden {
    height: 0;
    width: 0;
}

.textspan p {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.fail {
    background: url('fail-alien.jpg') no-repeat bottom center;
    background-size: 45%;
}

.success {
    color: black;
    text-transform: uppercase;
    height: 220px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.success p {
    display: inline;
    vertical-align: bottom;
    align-self: flex-end;
}

.timble {
    width: 180px;
}

.beam {
    display: inline-block;
    width: 90px;
    height: 100%;
    transition: all 0.7s ease-out;
    transform: perspective(200px) rotateX(40deg);
    background: yellow;
    position: absolute;
}

.beam.hidden {
    position: absolute;
    z-index: -1;
    height: 0;
}

.thimble-handle {
    position: relative;
    margin: 45px auto 0;
    width: 170px;
    height: 80px;
}

.saucer-body {
    width: 160px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 80px / 30px;
    background: deepskyblue;
    position: absolute;
}

.saucer-body:after {
    content: '';
    display: inline-block;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    width: 50px;
    transform: rotate(55deg);
    z-index: -1;
    bottom: -10px;
    width: 30px;
    position: absolute;
    right: 15px;
}

.saucer-body:before {
    content: '';
    display: inline-block;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    width: 30px;
    transform: rotate(-55deg);
    position: absolute;
    top: 55px;
    z-index: -1;
    left: 15px;
}

.saucer-head {
    width: 70px;
    height: 20px;
    border-top-left-radius: 80%;
    border-top-right-radius: 80%;
    background: yellow;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.saucer-head:after {
    content: '';
    display: inline-block;
    border-top: 2px solid yellow;
    border-bottom: 1px solid yellow;
    width: 20px;
    transform: rotate(-25deg);
    z-index: -1;
    top: -3px;
    width: 30px;
    position: absolute;
    right: 12px;
}

.saucer-head:before {
    content: '';
    display: inline-block;
    border-top: 2px solid yellow;
    border-bottom: 1px solid yellow;
    width: 20px;
    transform: rotate(25deg);
    position: absolute;
    top: -5px;
    z-index: -1;
    left: 12px;
}

.saucer-windows {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 15px;
    width: 170px;
    height: 15px;
    border-radius: 60%;
    background: yellow;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.flash {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-content: center;
    background: mediumvioletred;
}

.flash.odd {
    animation: odd_flash 0.5s infinite alternate;
}

.flash.even {
    animation: even_flash 0.5s infinite alternate;
}

@keyframes odd_flash {
    from {
        background-color: mediumvioletred;
        width: 7px;
        height: 7px;
    }
    to {
        background-color: red;
        width: 12px;
        height: 12px;
    }
}

@keyframes even_flash {
    from {
        background-color: red;
        width: 12px;
        height: 12px;
    }
    to {
        background-color: mediumvioletred;
        width: 7px;
        height: 7px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px;
}

ul li {
    display: inline-block;
    margin: 5px 25px;
}

.btn-circle {
    outline: none;
    border: 0;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: blueviolet;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 220px;
}

.prompting {
    animation: shake 150ms 0.75s 3 linear forwards;
}

@keyframes shake {
    0% {
        transform: translate(5px, 0);
    }
    50% {
        transform: translate(-5px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}