html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('space_bg.jpg');
    background-size: cover;
    color: white;
    font-family: 'Mina', sans-serif;
    position: relative;
}

#root {
    height: 100%;
}

.saucer-container {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
}

